# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/Debug/ 
/Release/
/consola/Debug/consola
/cpu/Debug/cpu
/nucleo/Debug/nucleo
/swap/Debug/swap
/umc/Debug/umc
/testuMC/Debug/testUMC


.metadata
/.metadata/
*.d
*.settings/
*.metadata/
/Remote*/
/compartido/Debug/
*.log
dump
*.*~
*~